<meta charset="UTF-8">
<%= stylesheet_link_tag 'search_button' %>
<%= javascript_include_tag 'jquery.color' %>
<%= javascript_include_tag 'search_button' %>
<%= image_tag 'top/lupa.png', :id => 'search_icon' %>
<div id="container">
    <div id="main">
        <form id="searchForm" action='<%= search_causes_path%>'>
            <fieldset>
                <div class="input">
                	<%= image_tag 'top/lupa.png', :id => 'submit_icon' %>
                  <input type="text" name="s" id="s" value="" />
                  <a id="ir_submit" href="javascript:;">ir</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>