<div id="new_top">
  <div id="login">
    <% if logged_user? -%>
      <%= user_image(current_user, 20, 20) %>
      <%= link_to image_tag('top/logout.png', :style => "padding-top: 8px"), logout_path %>
      <%= current_user.name %>
    <% else -%> 
      <a href="javascript:;" id="loginButton" class="lnkEscrever"><%= image_tag('top/key_trans.png', :style => "padding-top: 4px") %> Login</a>
    <% end -%> 
  </div>
  <%= image_tag 'top/separador.png' %>
  <div id="filtro">
    <a href="#" id="filtroButton">Filtro</a>
  </div>
  <%= image_tag 'top/separador.png' %>
  <div id="bairros">
    <a href="#" id="bairroButton">Bairros</a>
  </div>
  <%= image_tag 'top/separador.png' %>
  <div id="busca">
    <%= render :partial => 'application/search_box' %>
  </div>
</div>

<% if @categories %>
<div id="top_categories">
	<% @categories.each_with_index do |category, idx| -%>
		<% if idx % 3 == 0 -%>
		<ul class="comboLst">
		<% end -%>
        	<li>
        		<% if cookies[:categories] && cookies[:categories].split(',').include?(category.id.to_s) -%>
        			<a title="<%= category.name %>" href="javascript:;" alt="<%= category.id %>"><div id="img<%= category.id %>" style="background-position: -40px 0;"></div></a>
        		<% else -%>
        			<a title="<%= category.name %>" href="javascript:;" alt="<%= category.id %>"><div id="img<%= category.id %>"></div></a>
        		<% end -%>
        	</li>
		<% if (idx + 1) % 3 == 0 -%>
		</ul>
		<% end -%>
	<% end -%>
</div>
<% end -%>

<div id="comboDistricts" class="combo-content hidden">
	<div class="bgr">
		<div class="scroll-pane">
			<ul class="comboLst">
				<li><a href="javascript:;">Agronomia</a></li>
				<li><a href="javascript:;">Anchieta</a></li>
				<li><a href="javascript:;">Arquipélago</a></li>

				<li><a href="javascript:;">Auxiliadora</a></li>
				<li><a href="javascript:;">Azenha</a></li>
				<li><a href="javascript:;">Bela Vista</a></li>
				<li><a href="javascript:;">Belém Novo</a></li>
				<li><a href="javascript:;">Belém Velho</a></li>
				<li><a href="javascript:;">Boa Vista</a></li>

				<li><a href="javascript:;">Bom Fim</a></li>
				<li><a href="javascript:;">Bom Jesus</a></li>
				<li><a href="javascript:;">Camaquã</a></li>
				<li><a href="javascript:;">Cascata</a></li>
				<li><a href="javascript:;">Cavalhada</a></li>
				<li><a href="javascript:;">Cel. Aparício Borges</a></li>

				<li><a href="javascript:;">Centro</a></li>
				<li><a href="javascript:;">Chácara das Pedras</a></li>
				<li><a href="javascript:;">Cidade Baixa</a></li>
				<li><a href="javascript:;">Cristal</a></li>
				<li><a href="javascript:;">Cristo Redentor</a></li>
				<li><a href="javascript:;">Espírito Santo</a></li>

				<li><a href="javascript:;">Farrapos</a></li>
				<li><a href="javascript:;">Farroupilha</a></li>
				<li><a href="javascript:;">Floresta</a></li>
				<li><a href="javascript:;">Glória</a></li>
				<li><a href="javascript:;">Guarujá</a></li>
				<li><a href="javascript:;">Higienópolis</a></li>

				<li><a href="javascript:;">Hípica</a></li>
				<li><a href="javascript:;">Humaitá</a></li>
				<li><a href="javascript:;">Independência</a></li>
				<li><a href="javascript:;">Ipanema</a></li>
				<li><a href="javascript:;">Jardim Botânico</a></li>
				<li><a href="javascript:;">Jardim Carvalho</a></li>

				<li><a href="javascript:;">Jardim do Salso</a></li>
				<li><a href="javascript:;">Jardim Floresta</a></li>
				<li><a href="javascript:;">Jardim Itu-Sabará</a></li>
				<li><a href="javascript:;">Jardim Isabel</a></li>
				<li><a href="javascript:;">Jardim Lindóia</a></li>
				<li><a href="javascript:;">Jardim São Pedro</a></li>

				<li><a href="javascript:;">Lageado</a></li>
				<li><a href="javascript:;">Lami</a></li>
				<li><a href="javascript:;">Lomba do Pinheiro</a></li>
				<li><a href="javascript:;">Marcílio Dias</a></li>
				<li><a href="javascript:;">Mário Quintana</a></li>
				<li><a href="javascript:;">Medianeira</a></li>

				<li><a href="javascript:;">Menino Deus</a></li>
				<li><a href="javascript:;">Moinhos de Vento</a></li>
				<li><a href="javascript:;">Mont’Serrat</a></li>
				<li><a href="javascript:;">Navegantes</a></li>
				<li><a href="javascript:;">Nonoai</a></li>
				<li><a href="javascript:;">Partenon</a></li>

				<li><a href="javascript:;">Passo da Areia</a></li>
				<li><a href="javascript:;">Pedra Redonda</a></li>
				<li><a href="javascript:;">Petrópolis</a></li>
				<li><a href="javascript:;">Ponta Grossa</a></li>
				<li><a href="javascript:;">Praia de Belas</a></li>
				<li><a href="javascript:;">Restinga</a></li>

				<li><a href="javascript:;">Rio Branco</a></li>
				<li><a href="javascript:;">Rubem Berta</a></li>
				<li><a href="javascript:;">Santa Cecília</a></li>
				<li><a href="javascript:;">Santa Izabel</a></li>
				<li><a href="javascript:;">Santa Maria Goretti</a></li>
				<li><a href="javascript:;">Santa Tereza</a></li>

				<li><a href="javascript:;">Santana</a></li>
				<li><a href="javascript:;">Santo Antônio</a></li>
				<li><a href="javascript:;">São Geraldo</a></li>
				<li><a href="javascript:;">São João</a></li>
				<li><a href="javascript:;">São José</a></li>
				<li><a href="javascript:;">São Sebastião</a></li>

				<li><a href="javascript:;">Sarandi</a></li>
				<li><a href="javascript:;">Serraria</a></li>
				<li><a href="javascript:;">Teresópolis</a></li>
				<li><a href="javascript:;">Três Figueiras</a></li>
				<li><a href="javascript:;">Tristeza</a></li>
				<li><a href="javascript:;">Vila Assunção</a></li>

				<li><a href="javascript:;">Vila Conceição</a></li>
				<li><a href="javascript:;">Vila Ipiranga</a></li>
				<li><a href="javascript:;">Vila Jardim</a></li>
				<li><a href="javascript:;">Vila João Pessoa</a></li>
				<li class="last"><a href="javascript:;">Vila Nova</a></li>
			</ul>

		</div>
	</div>
</div>
