<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
    <head>
        <title>PortoAlegre.cc | Uma nova cidade vai nascer</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="distribution" content="global" />
        <meta name="language" content="pt-br" />
        <meta name="robots" content="follow, all" /> 
        <meta name="description" content="PortoAlegre.cc é um espaço de colaboração cidadã, onde você pode conhecer, debater, inspirar e transformar a própria cidade. Participe." />
        <meta name="keywords" content="PortoAlegre.cc, Porto Alegre, poa, rs, rio grande do sul, Unisinos" />
		<meta property="og:title" content="Ajude a transformar a nossa cidade. Cadastre e compartilhe suas causas no #portoalegrecc" />
		<meta property="og:url" content="http://www.portoalegre.cc/" />
		<meta property="og:image" content="http://www.portoalegre.cc/img/logo.png" />
		<meta property="og:site_name" content="portoalegre.cc" />
        <link rel="author" href="" title="" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <%= stylesheet_link_tag('modal') %>
        <%= stylesheet_link_tag('jquery.jscrollpane') %>
        <%= stylesheet_link_tag('screen') %>
        <%= stylesheet_link_tag('ui-lightness/jquery-ui-1.8.11.custom.css') %>
        <%= javascript_include_tag :defaults %>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <%= javascript_include_tag 'jquery.mousewheel' %>
       	<%= javascript_include_tag 'mwheelIntent' %>
       	<%= javascript_include_tag 'jquery.jscrollpane.min' %>
        <%= javascript_include_tag 'jsii-1.0.0' %>
        <%= javascript_include_tag 'jquery.jmpopups-0.5.1' %>
       	<%= javascript_include_tag 'jquery.twitter' %>
       	<%= javascript_include_tag 'jquery.ui.touch' %>
       	<%= javascript_include_tag 'jquery.cookie.js' %>
        <%= javascript_include_tag 'modal' %>
        <%= javascript_include_tag 'maps' %>        
		    <%= javascript_include_tag 'falapoa' %>
		<%= javascript_include_tag "ckeditor/ckeditor.js"%>

      <script type="text/javascript">
      	var lu = <%= logged_user? %>;
      	var collect_email = <%= session['collect_email'] == true %>;
        var includeMap = true;
      </script>
    	
  		<% if @login_failed -%>
  			<script>openLogin('login');</script>
  		<% elsif @register_failed -%>
  			<script>openLogin('register');</script>
  		<% end -%>
  		
  		<% if @collect_email -%>
  		  <script>openLogin('collect_email');</script>
  		<% end -%>
  	
  		<script type="text/javascript">
	  	MIN_ZOOM = 12;
			MAX_ZOOM = 18;
			
			var start = function(){
				if (includeMap) {
					map = new Map();					
				}
				<% if params['q'].present? %>
				$('#comboDistricts a').each(function(i) {
					if ($(this).text() == "<%=h params['q'] %>") {
						$(this).addClass('selected');
					}				
				});
				map.search('<%=h params['q'] %>');
				<% end %>
				
			}
		</script>        
    </head>

    <body onload="start()">
      <div id="inner">
			<div id="zoomMap">
				<a href="javascript:;" id="zoom-in"><!-- --></a>
				<a href="javascript:;" id="zoom-out"><!-- --></a>
				<!--<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />-->
				<div style="height:200px;"><div id="slider-vertical"></div></div>
			</div>
        <div id="maps"></div>
          <%= render :partial => 'top' %>
          <%= render :partial => 'left' %>
          <%= render :partial => 'footer' %>
        <span class="break"><!--  --></span>
			  <script type="text/javascript">
			  var addthis_share = { 
			      templates: {
                     twitter: 'Ajude a transformar a nossa cidade. Cadastre e compartilhe suas causas no #portoalegrecc {{url}}'
                 }
			  }
			  </script>
      </div>
     
    <script type="text/javascript">
      //<![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      //]]>
    </script>
    <script type="text/javascript">
      //<![CDATA[
        var UID = "UA-22103323-1";      

        var GA = new GoogleAnalytics(UID);
        GA.track('/site/home');

        var list = new cookieList("categories");

      //]]>
    </script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#top .busca').bind('click', function() {
					var value = $(this).prev().val();
					map.search(value);
					alert(value);
				});
				
				$(window).resize(function() {
					$('#top_categories').css({"left": $('#filtroButton').parent().offset().left + "px"});
					$('#comboDistricts').css({"left": $('#bairroButton').parent().offset().left + "px"});
				});
				
				$('#filtroButton').click(function() {
					if ($("#comboDistricts").css("visibility") != "hidden") {
						$('#bairroButton').click();
					}
					
					$('#submit_icon').click();

					if ($("#top_categories").is(":visible") == true) {
						$(this).css("font-weight", "");
						$(this).parent().css("background-color", "");
						$('#top_categories').hide();
					} else {
						$(this).css("font-weight", "bold");
						$(this).parent().css("background-color", "#edf5f7");
						$('#top_categories').css({"left": $(this).parent().offset().left + "px"});
//						$('#top_categories').css("left", $(this).css("left"));
						$('#top_categories').show();
					}
				});
				
				$('#bairroButton').click(function() {
					if ($("#top_categories").is(":visible") == true) {
						$('#filtroButton').click();
					}

					$('#submit_icon').click();

					if ($("#comboDistricts").css("visibility") == "hidden") {
						$(this).css("font-weight", "bold");
						$(this).parent().css("background-color", "#edf5f7");
						$('#comboDistricts').css({"left": $(this).parent().offset().left + "px"});
						$('#comboDistricts').removeClass('hidden');
					} else {
						$(this).css("font-weight", "");
						$(this).parent().css("background-color", "");
						$('#comboDistricts').addClass('hidden');
					}
				});
				
				$('#top_categories a').bind('click', function() {
					var value = $(this).attr('alt');
					if (list.has(value)) {
						$(this).find('div').css('background-position','0px 0');
						list.remove(value);
						map.categorize(list.items());
					} else {
                        $(this).find('div').css('background-position','-40px 0'); 
						list.add(value);
						map.categorize(list.items());
					}
				});
				
				$('#top input[name=busca]').bind('keydown', function(ev) {
					if (ev.keyCode == 13) {
						map.search(this.value);
					}
				});
				
				$('#top .combo').bind('click', function() {
					$('#comboDistricts').toggleClass('hidden');
				});
				
				$('#comboDistricts a').bind('click', function() {
					var value = $(this).text();
					var parent = $(this).parents('.combo-content').parent();
		//			parent.find('span').html(value);
					parent.find('.combo-content').addClass('hidden');
					parent.find('.combo-content a').attr('class', '');
					$(this).addClass('selected');
					$('#top input[name=busca]').val('');
					$("#bairroButton").css("font-weight", "");
					$("#bairroButton").parent().css("background-color", "#FFFFFF");
					map.search(value);
				});
			});	
		</script>
    </body>
</html>
